
/* Your CSS Code here. */
.holder {
display: grid;
grid-template-columns: repeat(2,100px);
grid-template-rows: repeat(2,100px);
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    /* width: 100vw; */
    /* background-color: bisque; */
    /* justify-content: center;
    align-items: center; */
}
.item { padding:15px; background-color: #2196F3; border:1px solid #000;}
